// These must be copied into the Firestore console to deploy updates

rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /friendRequests/{document=**} {
      // read/write if user in from_phone or to_phone
      allow read, update, delete: if request.auth.token.phone_number == resource.data.from_phone || request.auth.token.phone_number == resource.data.to_phone;
      // create if user in from_phone
      allow create: if request.auth.token.phone_number == request.resource.data.from_phone;
    }

    match /users/{phone_number} {
      // anyone logged in can GET
      allow get: if request.auth != null;
      // writeable if yours
      allow write: if request.auth.token.phone_number == phone_number

      match /contactsNotOnApp/{contact_number} {
        // read/writeable if nested within your user doc or about you
        allow read, write: if request.auth.token.phone_number == phone_number
        allow read, write: if request.auth.token.phone_number == contact_number
      }
    }

    // collectionGroup 'contactsNotOnApp' read/writeable if about you
    match /{path=**}/contactsNotOnApp/{doc} {
      allow read, write: if request.auth.token.phone_number == resource.data.phoneNumber
    }

    match /sits/{document=**} {
      // read/delete if your user_id
      allow read, delete: if request.auth.uid == resource.data.user_id;
      // create if your user_id
      allow create: if request.auth.uid == request.resource.data.user_id;
    }

  }
}
