<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>602912734239-6prv14tv6gdqkcjiqearbaopgt922ghe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.602912734239-6prv14tv6gdqkcjiqearbaopgt922ghe</string>
	<key>API_KEY</key>
	<string>AIzaSyDAbNGoIW8KC9-y9crEYPwBkAJsE5VC9Xw</string>
	<key>GCM_SENDER_ID</key>
	<string>602912734239</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.dsernst.GoenkaNative</string>
	<key>PROJECT_ID</key>
	<string>goenkatimer</string>
	<key>STORAGE_BUCKET</key>
	<string>goenkatimer.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:602912734239:ios:30d188d6a920b148c7e92a</string>
	<key>DATABASE_URL</key>
	<string>https://goenkatimer.firebaseio.com</string>
</dict>
</plist>